@import url("https://fonts.googleapis.com/css2?family=Lato:wght@300&display=swap");

:root {
  --primary-color: #333;
  --secondary-color: red;
  --see-through: rgba(51, 51, 51, 0.8);
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  list-style: none;
  text-decoration: none;
}

body {
  font-family: "Lato", sans-serif;
  color: var(--primary-color);
  line-height: 1.6;
  /* min-width: 235px; */
}

a {
  color: var(--primary-color);
  cursor: pointer;
}

h1,
h2 {
  font-weight: 600;
  line-height: 1.2;
  margin: 10px 0;
}

p {
  font-size: 1.1rem;
  margin: 10px 0;
}

.container {
  max-width: 1100px;
  width: 90%;
  margin: 0 auto;
  min-width: 260px;
  height: inherit;
}

/* Header */
header .flex {
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 40px;
}

header h1 {
  font-size: 1.2rem;
}

.phone i {
  padding: 0 5px;
  transform: scaleX(-1);
  font-size: 1rem;
}

header a:hover {
  color: var(--secondary-color);
  transition: 0.3s;
}

header ul,
footer ul {
  display: flex;
}

header li {
  padding-left: 10px;
  padding-top: 1px;
}

header ul li:last-child {
  padding-top: 2px;
}

/* Navbar */
.block {
  background-color: var(--primary-color);
  height: 80px;
}

.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  color: #fff;
}

.logo {
  display: flex;
  color: var(--secondary-color);
  margin: 0.5rem 0;
  min-width: 177px;
}

.logo img {
  height: 60px;
}

.logo h1 {
  padding-left: 10px;
  font-size: 1.7rem;
  margin: 0;
  line-height: 1.2;
}

.nav-links ul {
  display: flex;
  font-size: 1.2rem;
  font-weight: 600;
}

.nav-links li a {
  display: block;
  color: #fff;
  padding: 0 2rem;
}

.nav-links a:last-child {
  padding-right: 0;
}

.nav-links a:hover {
  color: var(--secondary-color);
  transition: 0.3s;
}

.nav-links .current a {
  color: var(--secondary-color);
}

.nav-toggler {
  position: absolute;
  top: 4.3rem;
  right: 5vw;
  display: none;
  flex-direction: column;
  justify-content: space-between;
  width: 30px;
  height: 21px;
}

.nav-toggler .bar {
  height: 3px;
  width: 100%;
  background-color: var(--secondary-color);
  border-radius: 10px;
}

/* Slideshow */
/* .slideshow-container {
  width: 100%;
  margin: auto;
} */

/* Next & previous buttons */
.prev,
.next {
  cursor: pointer;
  position: absolute;
  top: 50%;
  width: auto;
  padding: 10px;
  color: var(--secondary-color);
  font-weight: bold;
  font-size: 18px;
  transition: 0.6s ease;
  border-radius: 10%;
  user-select: none;
  margin: 20px;
}

/* Position the "next button" to the right */
.next {
  right: 0;
}

/* On hover, add a black background color with a little bit see-through */
.prev:hover,
.next:hover {
  background-color: rgba(0, 0, 0, 0.7);
}

/* The dots/bullets/indicators */
.dot {
  cursor: pointer;
  height: 15px;
  width: 15px;
  margin: 0 2px;
  background-color: #bbb;
  border-radius: 50%;
  display: inline-block;
  transition: background-color 0.6s ease;
}

.active,
.dot:hover {
  background-color: #717171;
}

/* Fading animation */
.fade {
  -webkit-animation-name: fade;
  -webkit-animation-duration: 1.5s;
  animation-name: fade;
  animation-duration: 1.5s;
}

@-webkit-keyframes fade {
  from {
    opacity: 0.4;
  }
  to {
    opacity: 1;
  }
}

@keyframes fade {
  from {
    opacity: 0.4;
  }
  to {
    opacity: 1;
  }
}

.welcome {
  text-align: center;
  margin: 4rem auto;
}

.welcome p {
  max-width: 80%;
  margin: 18px auto;
  font-size: 1.5rem;
}

.center-line {
  display: inline-block;
  width: 70px;
  height: 1px;
  border-top: 1px solid #bbb;
  margin: auto;
}

.trial,
.footer {
  color: #fff;
  background-color: var(--primary-color);
  height: 100%;
  padding: 2rem 0;
}

.trial h2 {
  margin-bottom: 1rem;
}

.btn {
  cursor: pointer;
  background: var(--secondary-color);
  color: #fff;
  border: none;
  border-radius: 5px;
  font-size: 1rem;
  font-weight: 600;
  width: 180px;
  height: 54px;
  margin: auto 2rem;
}

.btn:hover {
  background-color: #000;
}

.news {
  text-align: center;
  height: 150px;
  margin: 4rem auto;
}

.grid {
  display: grid;
  grid-template-columns: 2fr 1fr;
}

.grid-even {
  grid-template-columns: 1fr 1fr;
}

.grid-4 {
  grid-template-columns: repeat(4, 1fr);
  gap: 30px;
}

.footer {
  color: #fff;
  background-color: var(--primary-color);
  height: 100%;
  padding-top: 5rem;
}

.footer h2 {
  margin-bottom: 0;
}

.under-line {
  display: inline-block;
  width: 17px;
  border-bottom: 1px solid #fff;
  margin-top: 0.5rem;
  margin-bottom: 1.5rem;
}

.footer a {
  color: #fff;
}

.footer a:hover {
  color: var(--secondary-color);
}

.footer p i {
  transform: scaleX(-1);
  padding-left: 5px;
  font-size: 0.9rem;
  vertical-align: top;
  line-height: 1.8;
}

.footer li:last-child {
  padding-left: 14px;
}

.footer h3 {
  text-align: center;
  font-weight: normal;
  margin-top: 4rem;
  font-size: 1rem;
}

.schedule h2,
.instructors h2 {
  margin-top: 4rem;
  margin-bottom: 2rem;
}

.schedule p {
  font-size: 1.3rem;
  line-height: 1.5;
}

.schedule .btn {
  display: block;
  margin: 3rem 0 2rem 0;
  width: 120px;
}

.schedule img {
  margin-bottom: 4rem;
  width: 100%;
}

.instructors img {
  width: 100%;
  min-width: 300px;
  transform: scale(0.8);
  margin-left: 2rem;
}

/* Adjust for various screen sizes */
@media (max-width: 927px) {
  .nav-toggler {
    display: flex;
  }

  .nav-links {
    opacity: 0;
    width: 100%;
    flex-direction: column;
    z-index: 1;
    transition: all 0.3s;
  }

  .navbar {
    align-items: flex-start;
    flex-direction: column;
  }

  .nav-links ul {
    width: 100%;
    flex-direction: column;
    margin: 1rem auto;
  }

  .nav-links li a {
    text-align: center;
  }

  .nav-links li a {
    display: block;
    color: #fff;
    padding: 0.5rem 1rem;
  }

  .nav-links.active {
    opacity: 1;
    border-bottom-left-radius: 20px;
    border-bottom-right-radius: 20px;
    background-color: var(--see-through);
  }

  .nav__links li:last-child a:last-child {
    padding-right: 10px;
    margin-right: 5px;
  }

  .icon {
    justify-self: right;
  }

  .welcome p {
    max-width: 95%;
  }

  .trial .grid,
  .footer .grid,
  .grid-even {
    display: flex;
    flex-direction: column;
  }

  .trial .btn {
    margin: 2rem 0 4rem 0;
  }

  .instructors {
    margin-bottom: 4rem;
  }

  .instructors img {
    width: 100%;
    margin: auto;
  }
}

@media (max-width: 770px) {
  .prev,
  .next {
    display: none;
  }
}

@media (max-width: 300px) {
  a h1 {
    font-size: 1.1rem;
  }
}
